In [1]:
import pandas as pd
from sqlalchemy import create_engine
from numpy.random import choice

# db = create_engine('postgresql+psycopg2://postgres:docker@localhost:5432/postgres', pool_recycle=3600)
# conn = db.connect()

### Table 1: Techies

In [2]:
df = pd.DataFrame({
    "name": [
        "Spiderman",
        "Black Widow",
        "Wolverine",
        "Dr Strange",
        "Dr X",
        "Invisible Girl",
        "Scarlet Witch",
        "The Thing",
        "Captain America",
        "Storm"
    ],
    "techie_id": ["500" + str(i) for i in range(10)],
    "track": choice(["DL", "DS", "UX", "WD"], 10),
    "highest_education": choice(["High School","Bachelors","Masters","PhD"], 10, p=[0.4, 0.3, 0.2, 0.1]),
    "age": choice(range(20, 95), 10),
    "returning_techie": choice([False, True], 10)
})

df

              name techie_id track highest_education  age  returning_techie
0        Spiderman      5000    DS               PhD   81              True
1      Black Widow      5001    DS       High School   46             False
2        Wolverine      5002    DS           Masters   79             False
3       Dr Strange      5003    DL       High School   59             False
4             Dr X      5004    UX       High School   25              True
5   Invisible Girl      5005    UX           Masters   53             False
6    Scarlet Witch      5006    UX         Bachelors   61              True
7        The Thing      5007    UX               PhD   36              True
8  Captain America      5008    DL       High School   74             False
9            Storm      5009    WD               PhD   73             False

In [3]:
df.to_csv("../data/techies.csv", index=False)

### Table 2: Edyoucated Activity

In [4]:
activity_1wk = pd.date_range(
    pd.Timestamp.now().date() - pd.Timedelta(days=6),
    pd.Timestamp.now().date()
)



df = pd.DataFrame({
    "techie_id": choice(["500" + str(i) for i in range(10)], 25),
    "session_date": choice(activity_1wk, 25),
    "edyoucated_hours": choice(range(1,9), 25)
})

df

   techie_id session_date  edyoucated_hours
0       5008   2023-07-17                 8
1       5006   2023-07-13                 7
2       5002   2023-07-13                 6
3       5008   2023-07-16                 1
4       5005   2023-07-18                 6
5       5004   2023-07-18                 8
6       5006   2023-07-18                 1
7       5006   2023-07-19                 5
8       5005   2023-07-16                 3
9       5001   2023-07-18                 1
10      5003   2023-07-17                 2
11      5001   2023-07-16                 6
12      5007   2023-07-14                 7
13      5005   2023-07-18                 3
14      5007   2023-07-15                 1
15      5007   2023-07-19                 2
16      5009   2023-07-17                 1
17      5006   2023-07-13                 4
18      5005   2023-07-18                 6
19      5002   2023-07-16                 1
20      5000   2023-07-16                 5
21      5009   2023-07-15                 4
22      5003   2023-07-18                 2
23      5008   2023-07-15                 8
24      5002   2023-07-14                 4

In [5]:
df.to_csv("../data/edyoucated.csv", index=False)