In [1]:
import pandas as pd
from sqlalchemy import create_engine
from numpy.random import choice

# db = create_engine('postgresql+psycopg2://postgres:docker@localhost:5432/postgres', pool_recycle=3600)
# conn = db.connect()

### Table 1: Techies

In [2]:
df = pd.DataFrame({
    "techie_name": [
        "Spiderman",
        "Black Widow",
        "Wolverine",
        "Dr Strange",
        "Dr X",
        "Invisible Girl",
        "Scarlet Witch",
        "The Thing",
        "Captain America",
        "Storm"
    ],
    "techie_id": ["500" + str(i) for i in range(10)],
    "track": choice(["DL", "DS", "UX", "WD"], 10),
    "highest_education": choice(["High School","Bachelors","Masters","PhD"], 10, p=[0.4, 0.3, 0.2, 0.1]),
    "age": choice(range(20, 95), 10),
    "returning_techie": choice([False, True], 10)
})

df

       techie_name techie_id track highest_education  age  returning_techie
0        Spiderman      5000    DL         Bachelors   36             False
1      Black Widow      5001    UX         Bachelors   41             False
2        Wolverine      5002    UX       High School   25              True
3       Dr Strange      5003    DS       High School   22             False
4             Dr X      5004    WD           Masters   60             False
5   Invisible Girl      5005    WD         Bachelors   61              True
6    Scarlet Witch      5006    DL       High School   48             False
7        The Thing      5007    WD               PhD   61             False
8  Captain America      5008    DL           Masters   49              True
9            Storm      5009    WD           Masters   76             False

In [3]:
df.to_csv("../data/techies.csv", index=False)

### Table 2: Edyoucated Activity

In [4]:
activity_1wk = pd.date_range(
    pd.Timestamp.now().date() - pd.Timedelta(days=6),
    pd.Timestamp.now().date()
)



df = pd.DataFrame({
    "techie_id": choice(["500" + str(i) for i in range(10)], 25),
    "session_date": choice(activity_1wk, 25),
    "edyoucated_hours": choice(range(1,9), 25)
})

df

   techie_id session_date  edyoucated_hours
0       5009   2023-07-20                 7
1       5004   2023-07-14                 5
2       5002   2023-07-20                 8
3       5006   2023-07-18                 6
4       5004   2023-07-17                 3
5       5001   2023-07-14                 3
6       5009   2023-07-20                 6
7       5004   2023-07-16                 3
8       5004   2023-07-14                 6
9       5007   2023-07-15                 8
10      5000   2023-07-19                 7
11      5008   2023-07-19                 3
12      5009   2023-07-19                 8
13      5006   2023-07-20                 8
14      5001   2023-07-16                 6
15      5004   2023-07-15                 8
16      5002   2023-07-20                 4
17      5005   2023-07-17                 5
18      5004   2023-07-20                 4
19      5001   2023-07-17                 5
20      5006   2023-07-14                 1
21      5005   2023-07-15                 8
22      5001   2023-07-14                 1
23      5005   2023-07-20                 5
24      5000   2023-07-16                 6

In [5]:
df.to_csv("../data/edyoucated.csv", index=False)