In [2]:
import pandas as pd
from sqlalchemy import create_engine

db = create_engine('postgresql+psycopg2://postgres:docker@localhost:5432/postgres', pool_recycle=3600)
conn = db.connect()

In [8]:
from numpy.random import choice

### Table 1: Techies

In [22]:
df = pd.DataFrame({
    "name": [
        "Spiderman",
        "Black Widow",
        "Wolverine",
        "Dr Strange",
        "Dr X",
        "Invisible Girl",
        "Scarlet Witch",
        "The Thing",
        "Captain America",
        "Storm"
    ],
    "techie_id": ["500" + str(i) for i in range(10)],
    "track": choice(["DL", "DS", "UX", "WD"], 10),
    "highest_education": choice(["High School","Bachelors","Masters","PhD"], 10, p=[0.4, 0.3, 0.2, 0.1]),
    "age": choice(range(20, 95), 10),
    "returning_techie": choice([False, True], 10)
})

df

              name techie_id track highest_education  age  returning_techie
0        Spiderman      5000    WD       High School   30             False
1      Black Widow      5001    UX       High School   56              True
2        Wolverine      5002    DL           Masters   58              True
3       Dr Strange      5003    UX       High School   65              True
4             Dr X      5004    DL           Masters   87             False
5   Invisible Girl      5005    DL       High School   65              True
6    Scarlet Witch      5006    WD           Masters   41             False
7        The Thing      5007    DS       High School   78             False
8  Captain America      5008    UX               PhD   71              True
9            Storm      5009    WD       High School   63             False

In [24]:
df.to_csv("../data/techies.csv", index=False)